<table class="row" data-toggle="table" >
  <tr>
    <th style="background-color: dodgerblue">常数1</th>
    <th style="background-color: dodgerblue">常数2</th>
    <th style="background-color: dodgerblue">常数3</th>
    <th style="background-color: dodgerblue">常数4</th>
    <th style="background-color: dodgerblue">常数5</th>
    <th style="background-color: dodgerblue">常数6</th>

  </tr>

  <tr >
    <td contentEditable="true"style="background-color: dodgerblue">123</td>
    <td contentEditable="true"style="background-color: dodgerblue">123</td>
    <td contentEditable="true"style="background-color: dodgerblue">123</td>
  </tr>
  <tr >
    <th style="background-color: dodgerblue">常数1</th>
    <th style="background-color: dodgerblue">常数2</th>
    <th style="background-color: dodgerblue">常数3</th>
    <th style="background-color: dodgerblue">常数4</th>
    <th style="background-color: dodgerblue">常数5</th>
    <th style="background-color: dodgerblue">常数6</th>
  </tr>
  <tr >
    <td contentEditable="true"style="background-color: dodgerblue">123</td>
    <td contentEditable="true"style="background-color: dodgerblue">123</td>
    <td contentEditable="true"style="background-color: dodgerblue">123</td>
  </tr>
