<form class="row">
  <div class="input-group">
    <input type="text" class="form-control col-10" placeholder="请输入您需要购买商品的名称、规格、型号">
    <button type="button" class ="btn btn-primary col-1">搜索</button>
  </div>
</form>
<ul class="" style="padding-left: 0px">
  <li class ="row" style="background-color: aqua">
    <div class="col-2">
      <span class="row" style="background-color:honeydew">商品标签</span>
      <img class="row" src="../../img/1.jpg" alt="商品图片" style="height: 90% ;width:120%"/>

    </div>
    <div class="col-10">
      <div class="row">
        <span class="col-12" style="background-color: aqua">加工要求</span>
        <!--<span class="col-2" style="background-color:ivory">配置公式</span>-->
      </div>
      <table class="row" border="" >
        <tr>
          <th style="background-color: dodgerblue">常数1</th>
          <th style="background-color: dodgerblue">常数2</th>
          <th style="background-color: dodgerblue">常数3</th>
          <th style="background-color: dodgerblue">常数4</th>
          <th style="background-color: dodgerblue">常数5</th>
          <th style="background-color: dodgerblue">常数6</th>

        </tr>

        <tr style="border: azure">
          <td contentEditable="true"style="background-color: dodgerblue">123</td>
          <td contentEditable="true"style="background-color: dodgerblue">123</td>
          <td contentEditable="true"style="background-color: dodgerblue">123</td>
        </tr>
        <tr style="border: azure">
          <th style="background-color: dodgerblue">常数1</th>
          <th style="background-color: dodgerblue">常数2</th>
          <th style="background-color: dodgerblue">常数3</th>
          <th style="background-color: dodgerblue">常数4</th>
          <th style="background-color: dodgerblue">常数5</th>
          <th style="background-color: dodgerblue">常数6</th>
        </tr>
        <tr style="border: azure">
            <td contentEditable="true"style="background-color: dodgerblue">123</td>
            <td contentEditable="true"style="background-color: dodgerblue">123</td>
            <td contentEditable="true"style="background-color: dodgerblue">123</td>
        </tr>
        <tr>
            <th style="background-color: dodgerblue">常数1</th>
            <th style="background-color: dodgerblue">常数2</th>
            <th style="background-color: dodgerblue">常数3</th>
            <th style="background-color: dodgerblue">常数4</th>
            <th style="background-color: dodgerblue">常数5</th>
            <th style="background-color: dodgerblue">常数6</th>

        <tr style="border: azure">
            <td contentEditable="true"style="background-color: dodgerblue">123</td>
            <td contentEditable="true"style="background-color: dodgerblue">123</td>
            <td contentEditable="true"style="background-color: dodgerblue">123</td>
        </tr>
        <tr style="border: azure">
            <th style="background-color: dodgerblue">常数1</th>
            <th style="background-color: dodgerblue">常数2</th>
            <th style="background-color: dodgerblue">常数3</th>
            <th style="background-color: dodgerblue">常数4</th>
            <th style="background-color: dodgerblue">常数5</th>
            <th style="background-color: dodgerblue">常数6</th>
        </tr>
        <tr style="border: azure">
            <td contentEditable="true"style="background-color: dodgerblue">123</td>
            <td contentEditable="true"style="background-color: dodgerblue">123</td>
            <td contentEditable="true"style="background-color: dodgerblue">123</td>
        </tr>
        <tr>
            <th>订货单价</th><td contenteditable="true">456</td><td>元</td>
            <th>订货数量</th><td contenteditable="true">456</td><td>件</td>
            <th>订货金额</th><td contenteditable="true">456</td><td>元</td>
            <th>加入购物车</th>
        </tr>
      </table>
    </div>
  </li>
</ul>
